In [3]:
#printing leaving the first header
import pandas as pd
df=pd.read_excel("D:\sql sem 2\pandas 4.xlsx","Sheet1")
df

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
#here we can see that sometime we have extra header by that our whole table does not looks good so we can also skip it by
'''using skiprows

'using skiprows'

In [ ]:
df=pd.read_excel("D:\sql sem 2\pandas 4.xlsx","Sheet1",skiprows=1)
df

    ticker            eps   revenue  price   people
0    google          27.82         1     10   punit
1    tiktok             30         2      9  yashvi
2     insta  not available         3      8     n.a
3  facebook             -1         4    n.a  shivam

In [ ]:
'''now u can see our first row is skipped'''# remebr u cannot do it using df[1:] this work for inside element not for header
'''2''' '''ir we can do it by header=1'''

# handling missing header by adding header

In [ ]:
import pandas as pd
df1=pd.read_excel("D:\sql sem 2\pandas 4i.copy.xlsx","Sheet1")
df1

       snap           eps   0  0.1     gay
0    google          27.82  1   10   punit
1    tiktok             30 -1    9  yashvi
2     insta  not available  3    8     n.a
3  facebook             -1  4  n.a  shivam

In [ ]:
#in this we can see our header is missing we can fill this header according to our needs
#step1: we will assign head as none which will give 1 2 3 4 type value as default for header
#step2: change name of our deafult value given by pandas

In [ ]:
import pandas as pd
df2=pd.read_excel("D:\sql sem 2\pandas 4i.copy.xlsx","Sheet1", header= None, names=["ticker","eps","revenue","price","user"])
df2

     ticker            eps  revenue price    user
0      snap           eps         0     0     gay
1    google          27.82        1    10   punit
2    tiktok             30       -1     9  yashvi
3     insta  not available        3     8     n.a
4  facebook             -1        4   n.a  shivam

# reading rows how much we want

In [ ]:
'''smetime excelis large we want to read only some of them then we can use nrows=3 or we can also do that afterwards using head(x).

# replacing values with nan if  we dont want them using na_values

In [ ]:
#example in our table not available and na value is not good so i can replace them with nan value using na_values
import pandas as pd
df3=pd.read_excel("D:\sql sem 2\pandas 4i.copy.xlsx",header= None, names=["ticker","eps","revenue","price","user"],na_values=["not available","n.a"])
df3
#this method can be useful to clean messy data that we get

     ticker    eps  revenue  price    user
0      snap   eps         0    0.0     gay
1    google  27.82        1   10.0   punit
2    tiktok     30       -1    9.0  yashvi
3     insta    NaN        3    8.0     NaN
4  facebook     -1        4    NaN  shivam

In [ ]:
'''now one more thing is there revenue is -1 that is not possible so we can replace it with nan but see eps is also -1 
that means if we put that -1 in list that will convert all value of -1 to nan but eps can be -1'''
#this can be solved by using dictionary

'now one more thing is there '

In [ ]:
import pandas as pd
df3=pd.read_excel("D:\sql sem 2\pandas 4i.copy.xlsx",header=None,names=["ticker","eps","revenue","price","user"],na_values={
    "eps"	:["not available","n.a"],
    
    "user":["not available","n.a"],
    "price":["not available","n.a"],
    "revenue":["not available","n.a"]})

df3
#idk whats happening wjy it snot getting nan but our code is correct

     ticker    eps  revenue  price    user
0      snap   eps         0    0.0     gay
1    google  27.82        1   10.0   punit
2    tiktok     30       -1    9.0  yashvi
3     insta    NaN        3    8.0     NaN
4  facebook     -1        4    NaN  shivam

# now as reading is done lets go to writing in excel

In [ ]:
#now as we made our excel more better and good by adding nan into it removing extra (bekar ) header addding header now we can make another excel from it
''' using df3.to_excel("excelname")'''
df3.to_excel("updatedpandacopy.xlsx",sheet_name="basic",index=False)

In [ ]:
#if i want some specific coloum in my written excel 
df3.to_excel("updatedpandacopy.xlsx",sheet_name="basic",index=False,columns=["ticker","eps"]) 
#if u dont want header put here head=False

# same u can do for csv files just use csv in place of excel and .csv in place xlsx