In [27]:
import pandas as pd
pf=pd.read_csv("pokemon.csv")
pf

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,NaN,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80.0,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100.0,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122.0,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60.0,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100.0,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160.0,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150.0,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170.0,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130.0,90,70,6,True

In [28]:
#first we find which pokemon have the highest attack
pf['Attack'].max()

190

In [29]:
#now we find which pokmeon have higst total stats point
pf['Total'].max()

780

In [30]:
#now we find which pokmeon have min total stats point
pf['Total'].min()

180

In [31]:
#now we find the name of pokemon with min total point
pf['Name'][pf['Total']==180]

206    Sunkern
Name: Name, dtype: object

In [32]:
#now we find pokemon which is having max attack by finding max value of attack
pf['Name'][pf['Attack']==190]

163    MewtwoMega Mewtwo X
Name: Name, dtype: object

In [33]:
#now find the serial number of our higest attack pkemon i.e our mewtwo
pf['#'][pf['Name']=="MewtwoMega Mewtwo X"]

163    150
Name: #, dtype: int64

In [34]:
#name all the pokemon that are legendary
pf['Name'][pf['Legendary']==True]

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
              ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 65, dtype: object

In [35]:
#to find average of pokemon attack

pf["Sp. Atk"].mean()

72.81467181467181

In [36]:
#sometimes we get differ value when we perform mean or addition type operations in excel files that is bcz of null values 
# so when we clean value in excel so the process of cleaning messy data is called data munging or data wangling'''
# and the munged data is data which is ready to be processed or managed
'''we can use fillna in pandas to handle null value'''

'we can use fillna in pandas to handle null value'

In [37]:
pf.fillna(0,inplace=True)
pf["Sp. Atk"].mean()
#its not giving anyfifference here but its perfect when u take 0 in calculations

70.72125